div {
	border: 1px solid black;
	padding: 8px;
}

html, body {
	font-family: 'Quicksand', sans-serif;
	padding: 0;
	margin: 0;
}

p {
	margin: 5px;
}

/* flexbox display classes */

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

/* justify content */

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

/* align items */

.align-start {
	align-content: flex-start;
}

.align-end {
	align-content: flex-end;
}

.align-center {
	align-items: center;
}

.align-between {
	align-content: space-between;
}

.align-around {
	align-content: space-around;
}

.align-evenly {
	align-content: space-evenly;
}
